.idea
.ipynb_checkpoints
.spyproject
.project
.pydevproject

**/__pycache__/* 

*.pyc
*.log
*.prefs
*.pkl
*.ipynb

log/*
temp/* 
exports/*
libs/sharkpylib 

system/settings.pkl

users/* 
!users/default
